.loading {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    z-index: 823223233;
}

.loading img {
    width: 220px;
    transform: translateY(-30px);
}